.imagefile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.maincontainer {
    /* background-color: yellow; */
}

.innerimagetag {
    height: 200px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E0E0E0;
}

.inputbox {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skapstext {

    font-size: 50px;
}


.linedivtag {
    width: 100%;
    height: 3px;
    background-color: black;
}

.btnfileupload {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.midsection {
    /* background-color: blue; */
    /* color: white; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safetyinformation {
    font-size: 50px;
}

.todaydate {

    font-size: 50px;
    margin-left: 50px;
}

.localtimestring {
    font-size: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 30px;
    /* padding: 50px; */
}

.midsectionmid {
    background-color: yellow;
}

.latesttime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.lastaccidenton {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.lastaccidenttext {
    font-size: 50px;
    margin-left: 50px;
}

.footer {
    background-color: black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.helmet {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 70px;
}